body {
	background: #98FB98;
	font-family: times new roman;
}
#h1 {
	background-color: #8A2BE2;
	color: white;
	text-align: center;
}

#divisao {
	text-align: center;
}

#imagem {
	width: 600px;
}

#h2 {
	text-align: center;
	color: #C71585;
}

p {
	text-align: center;
	font-size: 23px;
}

em {
	background-color: #1E90FF;
}