@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
	height: 100vh;;
	background: linear-gradient(purple, blue);
	/*background-repeat: no-repeat;
	background-size: cover;*/
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
}

.container {
	background: white;
	padding: 40px 60px;
	border-radius: 20px;
	width: 300px;
	margin: auto;
	margin-top: 12vh;
	text-align: center;
	/*display: flex;
	flex-direction: column;
	align-items: center;*/
}

.imagem {
	width: 80px;
}

.label, .input {
	display: block;
	text-align: left;
}

.input {
	width: 90%;
	margin-bottom: 20px;
	margin-top: 5px;
	padding: 10px 10px;
	border: 1px solid #1E90FF;
	border-radius: 5px;
	text-align: left;
}

.botao {
	border: none;
	border-radius: 5px;
	background: #1E90FF;
	color: white;
	font-weight: bold;
	font-size: 18px;
	width: 50%;
	padding: 5px;
}

.botao:hover {
	background: url(fundo.jpg);
	cursor: pointer;
}