@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
	height: 100vh;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
}

.container {
	width: 90%;
	margin: 0 auto;
}

.legenda {
	display: block;
	margin-bottom: 0.1em;
}

.input {
	border: 1px solid #993399;
	border-radius: 5px;
	padding: 0.5em;
	width: 20%;
	font-family: 'Poppins', sans-serif;
}

.botao {
	border: none;
	border-radius: 5px;
	padding: 0.5em 1em;
	background-color: #993399;
	color: white;
	margin-left: 1em;
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
}

.botao:hover {
	background: #be7abb;
	cursor: pointer;
}

th,td {
	padding: 1em 0 1em 2em;
}

table {
	width: 100%;
	border-collapse: collapse;
}

.container-tabela {
	padding: 2em 0;
}

.celula-nome,.celula-sobrenome {
	width: 25%;
}

.celula-email {
	width: 50%;
}

th {
	background: #993399;
	font-size: 18px;
	color: white;
	font-weight: bold;
	border: 1px solid white;
	text-align: left;
}

tr:nth-child(odd) {
	background: #f0ddee;
}