@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #fffff0;
    align-items: center;
    font-family: 'Oswald', sans-serif;
}

section{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 940px;
    margin: 20vh auto;
    /* margin-top: 30vh; */
}

img{
    width: 60%;
    margin-right: 10em;
}

.caixa{
    width: 70%;
    text-align: center;
    padding: 2em 4em;
    background-color: white;
    border: 1px solid grey;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #407BFF;

}

.label, .input {
    display: block;
    text-align: left;
}

.titulo{
    color: #407BFF;
    margin-bottom: 1em;
    text-shadow: 0  0 2px #407BFF;
}

.input{
    margin: 0.5em 0 1em 0;
    padding: 1em 0.5em;
    width: 80%;
    border-radius: 5px;
    border: 1px solid grey;
    box-shadow: 2px 2px 2px #407BFF;
}

.label {
    font-size: 18px;
}

.botao{
    margin-top: 1em;
    border: none;
    border-radius: 5px;
    color:white;
    background-color: #407BFF;
    padding: 1em;
    text-transform: uppercase;
    font-weight: bold;
    width: 30%;
    box-shadow: 0 0 5px #407BFF;
}

.botao:hover{
    transform: scale(1.2);
    transition: 1s;
    cursor: pointer;
}