@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap');

* {
	margin: 0;
	padding: 0 
}

:root {
	--fonte-principal: 'Oswald', sans-serif;
	--cor-especial: #fff5ee;
	--marfim: #fffff0;
}

html{
	scroll-behavior: smooth;
}

body {
	padding-top: 100px;
	font-family: var(--fonte-principal);
	background-color: white;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: var(--marfim);
	text-align: center;
	box-shadow: 0 1px 3px grey; /*distancia horizontal, distancia vertical, blur, cor */
}  /*sombra de todos os lados: 0 0 15px grey----sombra pra dentro:inset*/ 

/* .caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 2em;
	right: 0;
}

nav li {
	display: inline;
	margin-left: 1em;
	font-size: 18px;
	text-transform: uppercase;
} */

.logo {
	width: 10%;
	display: inline-block;
}

nav {
	display: inline-block;
	vertical-align: top;
	margin-top: 3em;
	margin-left: 15em;
}

.menu {
	display: flex;
}

nav ul{
	list-style: none;
}

nav a{
	text-decoration: none;
	list-style: none;
	margin-left: 1em;
	font-size: 18px;
	text-transform: uppercase;
	color: black;
}

.container {
	margin: 0 10em;
	padding-top: 7em;
	display: grid;
	grid-template-columns: 50% 50%;
	align-items: center;
	text-align: center;
	background-color: white;
}

.container-1{
	padding: 0;
}

.caixa-descricao{
	padding: 1em 2em;
	background-color: var(--cor-especial);
	border-radius: 15px;
	box-shadow: 5px 5px 8px #ffe4c4;
}

.imagem-1 {
	width: 70%;
	margin-left: 5em;
}

.titulo {
	font-size: 30px;
	text-align: center;
	margin: 2em 0;
	color: #9b04b2;
	text-shadow: 2px 2px 2px #eeaefa;
}

.animacao{
	animation: go-back 1s linear;
}

@keyframes go-back {
	0% {
	  transform: translateX(-100px);
	  opacity: 0;
	  color:#eeaefa;
	}

	50% {
		transform: translateX(-50px);
		opacity: 0.5;
		color:#BA68C8;
	}

	100% {
	  transform: translateX(0);
	  opacity: 1;
	  color:#9b04b2;
	}
} 

/* @keyframes fadeIn{
	from{opacity: 0}
	to{opacity: 1}
}  */

.subtitulo {
	font-size: 28px;
}

.texto-descricao {
	font-size: 20px;
	margin: 1em 0;
}

.subtitulo-1 {
	color: #BA68C8;
}

.subtitulo-2 {
	color: #71DF8F;
}

.imagem-2{
	width: 90%;
}

.subtitulo-3{
	color: #FF725E;
}

.imagem-3{
 	width: 90%;
	margin-left: 5em;
}

nav li:hover{
	cursor: pointer;
	text-decoration: underline;
}

.item-1 a:hover{
	color: #BA68C8;
}

.item-2 a:hover{
	color: #71DF8F;
}

.item-3 a:hover{
	color: #FF725E;
}

.item-4 a:hover{
	color: #407BFF;
}

.item-5 a:hover{
	color: #FFC100;
}

.subtitulo-4{
	font-size: 22px;
	color:#407BFF;
}

.imagem-4{
	width: 90%;
	margin-left: -3em;
}

.container-contato{
	margin-top: 7em;
	padding: 7em 0;
	box-shadow: 0 -1px 3px grey; /*distancia horizontal, distancia vertical, blur, cor*/
}

.caixa-contato{
	background-color: var(--cor-especial);
	text-align: center;
	width: 30%;
	padding: 2em 1em;
	margin: auto;
	border-radius: 15px;
	box-shadow: 5px 5px 8px #ffe4c4;
	
}

.subtitulo-5{
	color:#FFC100;
	margin-bottom: 1em;
}

h3{
	font-size: 20px;
}

.texto-contato{
	font-size: 20px;
	margin: 1.5em 0;
}

.botao{
	border: none;
	border-radius: 5px;
	padding: 1em 2em;
	color: white;
	font-size: 16px; 
	background-color: #FFC100;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	box-shadow: 0 0 5px #ffe4c4;
}

.botao:hover{
	cursor: pointer;
	background-color: lightcoral;
	transition: 0.5s;
}

.redes-sociais{
	display: grid;
	grid-template-columns: 33% 33% 33%;
	text-align: center;
	align-items: center;
	padding: 5em 10em;
	font-size: 18px;
}

.logo-redes-sociais{
	width: 30%;
}

.facebook, .instagram{
	width: 8%;
}

.facebook{
	margin-right: 1em;
}

.logo-redes-sociais, .subtitulo-redes-sociais{
	margin-bottom: 1em;
}

.rodape{
	text-align: center;
	box-shadow: 0 -1px 3px grey;
	padding: 2em 0;
	font-size: 18px;
	opacity: 0.6;
}

.seta{
	background-color: #407BFF;
	position: fixed;
	right: 20px;
	bottom: 20px;
	text-decoration: none;
	padding: 0.5em;
	font-size: 25px;
	font-weight: bold;
	border-radius: 5px;
	color: white;
	box-shadow: 0 0 6px grey;
}

















/* body {
    margin: 20px;
    background: lightblue;
}

img {
	float: left;
	width: 200px;
	height: 200px;
	margin-right: 20px;
}

p {
   text-align: justify;
   font-size: 20px;
}

.tudo {
	width: 940px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20vh;
}

.img2 {
	margin-top: 8%;
}

.login {
	align-items: center;
	padding: 20px 40px;
	margin-left: 50%;
	border: 1px solid black;
	text-align: center;
}

.label, .input, .botao {
	display: block;
	text-align: left;
	font-size: 18px;
}

.input {
	margin-top: 10px;
	margin-bottom: 20px;
	padding: 10px 20px;
} */